[Settings]
SortCol=0
SortDir=1
DarkMode=0
AlwaysOnTop=0
ShowEnumerator=1
ShowService=1
ShowComPort=1
ShowDeviceId=0
ListDevsRoot=0
ListDevsSwd=0
ListDevsSw=0
DeviceNameColumnWidth=330
LastUsedColumnWidth=130
ClassColumnWidth=120
EnumeratorColumnWidth=110
ServiceColumnWidth=110
ComPortColumnWidth=80
DeviceIdColumnWidth=360
